@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,900;1,700&display=swap");
* {
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero img {
  width: 100%;
  top: 0;
}

.wrapper {
  text-align: center;
  background-color: white;
  height: 42rem;
  width: 28rem;
  border-radius: 18px;
  overflow: hidden;
}

.tittle-info h2 {
  font-size: 30px;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  padding-top: 0.2rem;
}
.tittle-info p {
  font-size: 16px;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  padding-bottom: 1rem;
}

.payment-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(225, 100%, 98%);
  margin-left: 3rem;
  width: 22rem;
  border-radius: 14px;
  height: 5rem;
}

.icon-plan {
  display: flex;
  align-items: center;
}

.change-link a {
  font-size: 15px;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.change-link a:hover {
  color: hsl(245, 69%, 61%);
}

.plan-image img {
  height: 44px;
  padding-right: 1rem;
}

.plan {
  padding-right: 2rem;
}
.plan h3 {
  font-size: 15px;
}
.plan span {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  font-size: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
  padding-top: 2rem;
}

.buttons button {
  height: 3rem;
  width: 22rem;
  border-radius: 14px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.payment-button button {
  background-color: hsl(245, 75%, 52%);
  color: white;
}

.payment-button button:hover {
  background-color: hsl(245, 69%, 61%);
}

.cancel-button button {
  background-color: white;
  color: hsl(224, 23%, 55%);
}

.cancel-button button:hover {
  color: hsl(223, 47%, 23%);
}

@media (max-width: 1025px) {
  .wrapper {
    text-align: center;
    background-color: white;
    height: 35rem;
    width: 25rem;
    border-radius: 18px;
    overflow: hidden;
  }
  .tittle-info h2 {
    font-size: 25px;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    padding-top: 0.2rem;
  }
  .tittle-info p {
    font-size: 15px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
  }
  .payment-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(225, 100%, 98%);
    margin-left: 2.5rem;
    width: 20rem;
    border-radius: 14px;
    height: 4rem;
  }
  .icon-plan {
    display: flex;
    align-items: center;
  }
  .change-link a {
    font-size: 14px;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
  }
  .change-link a:hover {
    color: hsl(245, 69%, 61%);
  }
  .plan-image img {
    height: 44px;
    padding-right: 1rem;
  }
  .plan {
    padding-right: 2rem;
  }
  .plan h3 {
    font-size: 14px;
  }
  .plan span {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    font-size: 14px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    gap: 0.5rem;
  }
  .buttons button {
    height: 2.5rem;
    width: 20rem;
    border-radius: 14px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  .payment-button button {
    background-color: hsl(245, 75%, 52%);
    color: white;
  }
  .cancel-button button {
    background-color: white;
    color: hsl(224, 23%, 55%);
  }
}
@media (max-width: 413px) {
  .wrapper {
    text-align: center;
    background-color: white;
    height: 35rem;
    width: 23rem;
    border-radius: 18px;
    overflow: hidden;
  }
  .payment-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(225, 100%, 98%);
    margin-left: 1.5rem;
    width: 20rem;
    border-radius: 14px;
    height: 4rem;
  }
}
@media (max-width: 281px) {
  .wrapper {
    text-align: center;
    background-color: white;
    height: 26rem;
    width: 15rem;
    border-radius: 18px;
    overflow: hidden;
  }
  .tittle-info h2 {
    font-size: 20px;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    padding-top: 0.2rem;
  }
  .tittle-info p {
    font-size: 12px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
  }
  .payment-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(225, 100%, 98%);
    margin-left: 1rem;
    width: 13rem;
    border-radius: 14px;
    height: 3rem;
  }
  .icon-plan {
    display: flex;
    align-items: center;
  }
  .change-link a {
    font-size: 12px;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
  }
  .change-link a:hover {
    color: hsl(245, 69%, 61%);
  }
  .plan-image img {
    height: 33px;
    padding-right: 1rem;
  }
  .plan {
    padding-right: 2rem;
  }
  .plan h3 {
    font-size: 12px;
  }
  .plan span {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    font-size: 12px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 0.5rem;
  }
  .buttons button {
    height: 2rem;
    width: 13rem;
    border-radius: 14px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }
  .payment-button button {
    background-color: hsl(245, 75%, 52%);
    color: white;
  }
  .cancel-button button {
    background-color: white;
    color: hsl(224, 23%, 55%);
  }
}
@media (max-width: 376px) {
  .wrapper {
    text-align: center;
    background-color: white;
    height: 35rem;
    width: 20rem;
    border-radius: 18px;
    overflow: hidden;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
    padding-top: 2rem;
  }
  .buttons button {
    height: 2.5rem;
    width: 18rem;
    border-radius: 14px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
  .payment-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(225, 100%, 98%);
    margin-left: 1rem;
    width: 18rem;
    border-radius: 14px;
    height: 4rem;
  }
}
@media (max-width: 416px) {
  .wrapper {
    text-align: center;
    background-color: white;
    height: 34rem;
    width: 20rem;
    border-radius: 18px;
    overflow: hidden;
  }
  .buttons button {
    height: 2.5rem;
    width: 18rem;
    border-radius: 14px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  .payment-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(225, 100%, 98%);
    margin-left: 1rem;
    width: 18rem;
    border-radius: 14px;
    height: 4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
